body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #0d0b10;
    color: white;
    font-family: Arial, sans-serif;
    

}

#uiContainer {
    position: relative;
    text-align: center;
    margin: 0 0 0 0;
}

.ear {
    position: absolute;
    width: 80px;
    height: 80px;
    background: #1f2833;
    border-radius: 50%;
    box-shadow: 0 0 10px cyan;
    top: 20px;
}

#leftEar {
    left: 55px;
    transform: translateX(-100%);
    top: -30px;
    z-index: 2;
    background: radial-gradient(circle, rgba(0,255,255,0.8), rgba(0,0,255,0.4));
    width: 90px;
    height: 90px;
}

#rightEar {
    right: 55px;
    transform: translateX(100%);
    top:-30 ;
    z-index: 3;
    background: radial-gradient(circle, rgba(0,255,255,0.8), rgba(0,0,255,0.4));
    width: 90px;
    height: 90px;
}

#circle {
    width: 180px;
    height: 180px;
    background: radial-gradient(circle, rgba(0,255,255,0.8), rgba(0,0,255,0.4));
    border-radius: 50%;
    margin: auto;
    box-shadow: 0 0 20px cyan;
    transition: all 0.3s ease-in-out;
    z-index: 10;
    
}

#circle.active {
    box-shadow: 0 0 50px cyan, 0 0 100px blue;
    transform: scale(1.2);
}


#talkButton {
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    background: #66fcf1;
    color: #0b0c10;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
}

#talkButton:hover {
    background: #45a29e;
}

#response{
    padding-top:20px;
    

}
.active {
    box-shadow: 0 0 25px cyan;

}