<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Micky AI Assistant</title>
    <link rel="stylesheet" href="static/css/styles.css">
</head>
<body>
    <div id="uiContainer">
        <div id="leftEar" class="ear"></div>
        <div id="circle"></div>
        <div id="rightEar" class="ear"></div>
        <div id="waveform"></div>
        <p id="response"></p>
        <button id="talkButton">Talk to Micky</button>
    </div>
    <script src="static/js/script.js"></script>
</body>
</html>